.button {
    // box model
    padding: 15px 40px;
    text-align: center;

    // visual
    background-color: $accent;
    border-radius: 50px;
    
    // typography
    color: $white;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;


    &--online-record {

        // visual
        transition: 0.3s ease-in-out;
        
        &:hover {
            // visual
            background-color: $white;
            
            // typography
            color: $accent;
        }
    }
}