.button {
    // box model
    display: inline-block;
    vertical-align: top;
    padding: 15px 40px;

    // visual
    background-color: $accent;
    border-radius: 50px;
    
    // typography
    color: $white;
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;


    &--online-record {

        // visual
        transition: 0.3s ease-in-out;

        &:hover {
            // visual
            background-color: $white;
            
            // typography
            color: $accent;
        }
    }

    &--coaching {
        // box model
        padding: 15px 20px;


        // visual
        // font-family: 
        background-color: rgba($white, 0.3);
        border: 2px solid $accent;
        transition: 0.3s ease-in-out;

        // typography
        color: $black;

        &:hover {
            // visual
            background-color: $accent;

            // typography
            color: $white;
        }
    }
}