.site-header {
    // positioning
    position: relative;

    // box model
    padding: 35px 25px;
    
    // positioning
    position: relative;

    // visual
    background-image: url("./img/header-bg-sm.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    &__mock {
        // positioning
        position: absolute;
        left: 50%;
        bottom: 0;
        font-size: 0;
        transform: translateX(-50%);

        img  {
            // box model
            width: 100%;
        }
    }
}
