<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Oswald:200,400" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
        title Fajaman
    body
        header.site-header
            nav.main-nav
                .logo
                    p.logo__name Богдан Янкевич
                    p.logo__proffessional Личностный рост. <span>Коучинг</span>
                nav.main-menu
                    ul.main-menu__list
                        li: a(href="#index") Главная
                        li: a(href="#index") Занятия
                        li: a(href="#index") О коуче
                        li: a(href="#index") Отзывы
                        li: a(href="#index") Контакты
                

                .menu-icon: .menu-icon__middle
            
            section.hero
                header.hero__header
                    h1.hero__title Персональный тренер по личностному росту
                    p.hero__text По статистике большинство людей сталкиваясь в своей жизни с трудностями, хотят решать их самостоятельно, но порой они даже и не знают, как правильно планировать свою жизнь, как самостоятельно реализовывать поставленные цели, и как контролировать свои эмоции.
                    //- a.button.button--consult(href="#") Записаться на консультацию

                .hero__button
                    a.button.button--online-record(href="#") Online запись

                //- .hero__content
                //-     ul.hero__list
                //-         li.hero__item
                //-             p.hero__feature-title Личностный рост
                //-             p.hero__feature-text Вы хотите научиться самостоятельно решать свои проблемы?
                //-         li.hero__item
                //-             p.hero__feature-title Коучинг 
                //-             p.hero__feature-text Как правильно планировать свою жизнь, как самостоятельно реализовывать поставленные цели?


            .site-header__mock: img(src="./img/mock.png" alt="Богдан Янкевич заглушка")

        section.section.problems
            header.problems__header
                sup.problems__quote “Здравствуйте,<br>я хочу изменить свою жизнь”
                p.problems__title Какие проблемы<br> я помогу вам<br>решить

            .problems__content
                ul.problems__upper-list
                    li.problems__upper-item
                        p.problems__upper-title Давай знакомиться
                        p.problems__text Меня зовут Богдан и если Вы хотите научиться самостоятельно решать свои проблемы, то тогда пришло время нам с вами познакомиться.

                    li.problems__upper-item
                        p.problems__upper-title Направления работы:
                        p.problems__text.problems__text--gold Проблемы с денежными тратами
                        p.problems__text.problems__text--gold Творческий кризис
                        p.problems__text.problems__text--gold Проблемы с организованностью
                        p.problems__text.problems__text--gold Вредные привычки.

                ul.problems__feature-list
                    li.problems__feature-item
                        .problems__feature-img: img(src="./img/feature.png" alt="Богдан Янкевич сложности на работе")
                        .problems__feature-content
                            p.problems__feature-title Сложности на работе
                            p.problems__feature-text Все валится из рук. Не могу сконцентрироваться на работе. Замучили частые конфликты
                        
                    li.problems__feature-item
                        .problems__feature-img: img(src="./img/feature.png" alt="Богдан Янкевич вредные привычки")
                        .problems__feature-content
                            p.problems__feature-title Вредные привычки
                            p.problems__feature-text Никотин и алкоголь превратили мою жизнь в рабство. Хочу быть свободным от зависимости

                    li.problems__feature-item
                        .problems__feature-img: img(src="./img/feature.png" alt="Богдан Янкевич равнодушие к жизни")
                        .problems__feature-content
                            p.problems__feature-title Равнодушие к жизни
                            p.problems__feature-text У меня упадок сил. Мне все надоело. Я не знаю чего хочу в этой жизни

        section.coaching
            .coaching__board
                header.coaching__header
                    p.coaching__title Формат коучинга<br> и основные<br> принципы<br> работы
                
                ul.coaching__list
                    li.coaching__principles-item
                        p.coaching__principles-title Тайминг
                        p.coaching__principles-text «Auteur» is a word that I would argue is thrown around too much when it comes to video games.

                    li.coaching__principles-item
                        p.coaching__principles-title Приватность
                        p.coaching__principles-text «Auteur» is a word that I would argue is thrown around too much when it comes to video games.
                    
                    li.coaching__principles-item
                        p.coaching__principles-title Формат сессий
                        p.coaching__principles-text «Auteur» is a word that I would argue is thrown around too much when it comes to video games.
                    
                    li.coaching__principles-item
                        p.coaching__principles-title Поддержка
                        p.coaching__principles-text «Auteur» is a word that I would argue is thrown around too much when it comes to video games.

                .coaching__button
                    a.button.button--coaching(href="#") Записаться на консультацию
             
            .card.card--consulting
                header.card__header
                    h2.card__title Консультация
                    .card__img: img(src="./img/consulting.jpg" alt="Консультация Богдан Янкевич")

                .card__content
                    h3.card__stage 01
                    p.card__description-title Знакомство
                    p.card__description Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
                    .card__more: img(src="./img/more" alt="Богдан Янквевич подробнее")
            
            .card
                header.card__header
                    h2.card__title.card__title--white План занятий
                    .card__img: img(src="./img/consulting.jpg" alt="Консультация Богдан Янкевич")

                .card__content
                    p.card__description-title Индивидуальная программа
                    p.card__description Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
                    .card__more: img(src="./img/more" alt="Богдан Янквевич подробнее")
        
        section.about
            .about__content
                header.about__header
                    h2.about__title
                    p.about__proffession дипломированный специалист

                .about__content
                    p.about__text Родился 26.02.1982 г. Москвич. Уже с детства знал, что хочу заниматься психологией и помогать людям решать проблемы которые им кажутся неразрешимыми.Более 5 лет занимаюсь частной практикой и являюсь тренером по личностного росту. В совершенстве владею английским языком. Разработал уникальный, в своем роде, индивидуальный подход помощи в самореализации и выявлении потребностей к каждому обратившемуся человеку. Более 80% моих клиентов показывают отличные результаты. Они реализуют поставленные задачи и цели, не только в профессиональных, а и в различных сферах своей деятельности. На мой взгляд, развитие не определяется только одним направлением, это процесс затрагивающий все сферы жизни, начиная от психологического и физического здоровья, заканчивая отношениями с окружающим миром. 

            .about__img: img(src="./img/about.jpg" alt="Богдан Янкевич обо мне")

        section.advantages
            header.advantages__header
                h3.advantages__quote “чем мне может помочь коучинг?”
                h2.advantages__title что дадут занятия с коучем, что я получу ?
                .advantages__img: img(src="./img/advantages.jpg" alt="Преимущества Богдан Янкевич")
                
            .advantages__content
                h2.advantages__list-title преимущества коучинга:
                ul.advantages__list-preview
                    li.advantages__item-preview Прояснить ситуацию
                    li.advantages__item-preview Определить цели и желания
                    li.advantages__item-preview Определить цели инструменты их достижения
                    li.advantages__item-preview Начать достижения к своей мечте

                ul.advantages__list
                    li.advantages__item
                        p.advantages__item-title Взгляд со стороны
                        p.advantages__ite-text Меня зовут Богдан и если Вы хотите научиться самостоятельно решать свои проблемы, то тогда пришло время нам с вами познакомиться

                    li.advantages__item
                        p.advantages__item-title Взгляд со стороны
                        p.advantages__ite-text Меня зовут Богдан и если Вы хотите научиться самостоятельно решать свои проблемы, то тогда пришло время нам с вами познакомиться

                    li.advantages__item
                        p.advantages__item-title Взгляд со стороны
                        p.advantages__ite-text Меня зовут Богдан и если Вы хотите научиться самостоятельно решать свои проблемы, то тогда пришло время нам с вами познакомиться

                    
                    
                

                


            



            