<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(href="https://fonts.googleapis.com/css?family=Oswald:200,400" rel="stylesheet")
        link(rel="stylesheet", href="styles.css")
        title Fajaman
    body
        header.site-header
            nav.main-nav
                .logo
                    p.logo__name Богдан Янкевич
                    p.logo__proffessional Личностный рост. <span>Коучинг</span>
                nav.main-menu
                    ul.main-menu__list
                        li: a(href="#index") Главная
                        li: a(href="#index") Занятия
                        li: a(href="#index") О коуче
                        li: a(href="#index") Отзывы
                        li: a(href="#index") Контакты
                

                .menu-icon: .menu-icon__middle
            
            section.hero
                header.hero__header
                    h1.hero__title Персональный тренер по личностному росту
                    p.hero__text По статистике большинство людей сталкиваясь в своей жизни с трудностями, хотят решать их самостоятельно, но порой они даже и не знают, как правильно планировать свою жизнь, как самостоятельно реализовывать поставленные цели, и как контролировать свои эмоции.
                    //- a.button.button--consult(href="#") Записаться на консультацию

                .hero__button
                    a.button.button--online-record(href="#") Online запись

                //- .hero__content
                //-     ul.hero__list
                //-         li.hero__item
                //-             p.hero__feature-title Личностный рост
                //-             p.hero__feature-text Вы хотите научиться самостоятельно решать свои проблемы?
                //-         li.hero__item
                //-             p.hero__feature-title Коучинг 
                //-             p.hero__feature-text Как правильно планировать свою жизнь, как самостоятельно реализовывать поставленные цели?


            .site-header__mock: img(src="./img/mock.png" alt="Богдан Янкевич заглушка")

        section.section.problems
            header.problems__header
                sup.problems__quote “Здравствуйте,<br>я хочу изменить свою жизнь”
                p.problems__title Какие проблемы<br> я помогу вам<br>решить

            .problems__content
                ul.problems__upper-list
                    li.problems__upper-item
                        p.problems__upper-title Давай знакомиться
                        p.problems__text Меня зовут Богдан и если Вы хотите научиться самостоятельно решать свои проблемы, то тогда пришло время нам с вами познакомиться.

                    li.problems__upper-item
                        p.problems__upper-title Направления работы:
                        p.problems__text.problems__text--gold Проблемы с денежными тратами
                        p.problems__text.problems__text--gold Творческий кризис
                        p.problems__text.problems__text--gold Проблемы с организованностью
                        p.problems__text.problems__text--gold Вредные привычки.

                ul.problems__feature-list
                    li.problems__feature-item
                        .problems__feature-img: img(src="./img/feature.png" alt="Богдан Янкевич сложности на работе")
                        .problems__feature-content
                            p.problems__feature-title Сложности на работе
                            p.problems__feature-text Все валится из рук. Не могу сконцентрироваться на работе. Замучили частые конфликты
                        
                    li.problems__feature-item
                        .problems__feature-img: img(src="./img/feature.png" alt="Богдан Янкевич вредные привычки")
                        .problems__feature-content
                            p.problems__feature-title Вредные привычки
                            p.problems__feature-text Никотин и алкоголь превратили мою жизнь в рабство. Хочу быть свободным от зависимости

                    li.problems__feature-item
                        .problems__feature-img: img(src="./img/feature.png" alt="Богдан Янкевич равнодушие к жизни")
                        .problems__feature-content
                            p.problems__feature-title Равнодушие к жизни
                            p.problems__feature-text У меня упадок сил. Мне все надоело. Я не знаю чего хочу в этой жизни
                    
